@page
@model Solucao.Service.API.Seguranca.Pages.ConsentModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    const string GrantAccessValue = "Grant";
    const string DenyAccessValue = "Deny";

    Layout = null;
}

Consent
Redirect url: @Model.ReturnUrl

<form method="post">
    <input type="submit" name="grant" value="@GrantAccessValue">
    <input type="submit" name="grant" value="@DenyAccessValue" />
</form>