@page
@model Solucao.Service.API.Seguranca.Pages.LogoutModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}

<h1>Logout</h1>

<div>
    <p>Você foi desconectado com sucesso.</p>
    <p><a asp-page="/Index">Clique aqui</a> para retornar à página inicial.</p>
</div>